@using Library.Models
@{
    ViewBag.Title = "Index";
}

<h2>Courses</h2>
<hr />
@Html.ActionLink("Click here to add a course", "Create", "Course", new { area = "" }, null)
<br /><br />
<div class="panel panel-default">
    <div class="panel-heading">All users</div>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Course name</th>
            <th>Description</th>
            <th>ECTS</th>
            <th>Assigned users</th>
            <th>Edit course</th>
            <th>Delete course</th>
        </tr>
        @model List<Course>
        @foreach (Course c in Model)
        {
            <tr>
                <th>@c.Id</th>
                <th>@c.CourseName</th>
                <th>@c.Description</th>
                <th>@c.ECTS</th>
                <th>@Html.ActionLink(c.User.Count().ToString(), "CourseUsers", new { id = c.Id.ToString() }, null)</th>
                <th>@Html.ActionLink("Edit", "Edit", new { id = c.Id.ToString() }, null)</th>
                <th>@Html.ActionLink("Delete", "Delete", new { id = c.Id.ToString() }, null)</th>
            </tr>
        }
    </table>
</div>
