@using Library.Models
@using WebApp.ViewModel
@{
    ViewBag.Title = "UserCourses";
}

<h2>User courses</h2>
@model UserCourseViewModel
<div class="panel panel-default">
    <div class="panel-heading">My courses</div>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Course name</th>
            <th>Description</th>
            <th>ECTS</th>
            <th>Remove from "My courses"</th>
        </tr>
        @foreach (Course c in Model.usercourses)
        {
            <tr>
                <th>@c.Id</th>
                <th>@c.CourseName</th>
                <th>@c.Description</th>
                <th>@c.ECTS</th>
                <th></th>
            </tr>
        }
    </table>
</div>
<hr />
<div class="panel panel-default">
    <div class="panel-heading">Available courses</div>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Course name</th>
            <th>Description</th>
            <th>ECTS</th>
            <th>Add to "My courses"</th>
        </tr>
        @foreach (Course c in Model.allcourses)
        {
            <tr>
                <th>@c.Id</th>
                <th>@c.CourseName</th>
                <th>@c.Description</th>
                <th>@c.ECTS</th>
                <th>@Html.ActionLink("Add", "UserCoursesAdd", new { userid = Model.user.Id.ToString(), courseid = c.Id.ToString() }, null)</th>
            </tr>
        }
    </table>
</div>